<meta http-equiv='refresh' content='10'>
<link rel="stylesheet" href="style.css">

<h1>{{ title }}</h1>
<div>更新時間: {{ rateDay }} </div><br>
<div>即期買入 {{ buyIn }} </div>
<div>即期賣出 {{ sellOut }}</div>
<div>現金買入 {{ cashBuyIn }} </div><br>

<div><span>VIP0</span>&nbsp;&nbsp;&nbsp;<span class='rate VIP0'>{{ VIP0 }}</span></div><br>
<div><span>VIP1</span>&nbsp;&nbsp;&nbsp;<span class='rate VIP1'>{{ VIP1 }}</span></div><br>
<div><span>VIP2</span>&nbsp;&nbsp;&nbsp;<span class='rate VIP2'>{{ VIP2 }}</span></div><br>

==============================<br><br>

買入<br><br>
<div><span>VIPS0</span>&nbsp;&nbsp;&nbsp;<span class='rate VIPS0'>{{ VIPS0 }}</span></div><br>
<div><span>VIPS1</span>&nbsp;&nbsp;&nbsp;<span class='rate VIPS1'>{{ VIPS1 }}</span></div><br>
<div><span>VIPS2</span>&nbsp;&nbsp;&nbsp;<span class='rate VIPS2'>{{ VIPS2 }}</span></div>
